*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    padding:2% 7%;
}
.df{
 display: flex;
}
.dg{
    display: grid;
}
.sb{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
img{
    max-width:100px;
}
.one{
    border-style: solid;
}
.ham{
    display: none;
}
a{
    color:grey;
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
   gap:17px;
   align-items: center;
}
button{
   background:orange;
   font-weight: 600;
   padding:13px 17px;
   border:none;
   font-size: 1.1em;
   border-radius: 5px;
   cursor:pointer;
}
header{
    align-items: center;
}