*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    padding:2% 7%;
}
.df{
 display: flex;
}
.dg{
    display: grid;
}
.sb{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
img{
    max-width:100%;
}
.ham{
    display: none;
}
a{
    color:grey;
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
   gap:17px;
   align-items: center;
}
button{
   background:orange;
   font-weight: 600;
   padding:13px 17px;
   border:none;
   font-size: 1.1em;
   border-radius: 5px;
   cursor:pointer;
}
header{
    align-items: center;
}
.top{
    margin-top: 2.4%;

}
.tleft{
    width:33%;
}
.tright{
    max-width:63%;
}
h1{
    font-size: 1.9em;
    line-height: 1.2em;
    color:black;
}
b{
    color:black;
}
p{
    color:grey;
    font-size: 0.9em;
}
.tright p{
    margin:2% 0;
    max-width: 80%;
}
.trd{
    align-items: center;
    gap:9px;
    max-width: fit-content;
}
.trd figure{
    max-width:40px;
}
.name{
    font-size: 0.88em;
}
.name p{
    font-size: 0.88em;
    max-width: 100%;
    margin:0;
}
.threeitems{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    padding:5% 0;
}
h3{
    font-size: 1.7em;
    max-width: 70%;
    line-height: 1.2em;
    color:black;
}
.one .trd{
    margin-top: 2.3%;
}
footer{
    align-items:center;
}
.threeitems p{
    margin:2% 0;
}

@media (max-width:970px){
    nav{
        display:none;
    }
    .ham{
        display:block;
    }
    .top{
        flex-direction: column;
        margin:20px 0;
    }
    .tleft,.tright{
        width:100%;
        max-width: 100%;
    }
    .threeitems{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    footer{
        flex-direction: column;
        align-items: start;
        padding:10px 0;
    }
    .tleft{
        width: 100%;
    }
    .tright{
        max-width:100%;
    }
    .tright h1,.tright p{
        width:100%;
        max-width: 100%;
    }
    .trd{
        max-width: 64%;
    }
    h3{
        max-width: 100%;
    }
    h1{
        font-size: 1.5em;
    }
}
@media (min-width:550px) and (max-width:1270px){
    nav{
        display: block;
    }
    .ham{
        display: none;
    }
    footer{
        flex-direction: row;
        align-items: center;
    }
    h1,h3{
        max-width:100%;
    }
    figure img{
        max-height:200px;
        width: 100%;
    }   
}
@media (max-width:549.9px){
    nav{
        display: none;
    }
    .ham{
        cursor:pointer;
    }
    header{
        position:relative;
    }
    ul{
        flex-direction: column;
        z-index:3;
        position:absolute;
        top:34px;
        LEFT:0;
        right:0;
        background:black;   
        gap:0;
    }
    li{
        width:100%;
        text-align:end;
        padding:7px 5px 7px 0;
    }
    li a{
        color:white;
    }
}